* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 20px;
  transform: rotate(-45deg);
  overflow: visible;
}
div {
  width: 250px;
  height: 250px;
  background-color: royalblue;
}

.item1 {
  background-image: url(./images/bg1.png);
  background-size: cover;
}
.item1 {
  background-image: url(./images/bg1.png);
  background-size: cover;
}
.item2 {
  background-image: url(./images/bg2.png);
  background-size: cover;
}
.item3 {
  background-image: url(./images/bg3.jpg);
  background-size: cover;
}
.item4 {
  background-image: url(./images/bg4.jpg);
  background-size: cover;
}
.item5 {
  background-image: url(./images/bg5.jpg);
  background-size: cover;
}
.item6 {
  background-image: url(./images/bg6.jpg);
  background-size: cover;
}
.item7 {
  background-image: url(./images/bg7.jpg);
  background-size: cover;
}
.item8 {
  background-image: url(./images/bg8.jpg);
  background-size: cover;
}
.item9 {
  background-image: url(./images/bg9.jpg);
  background-size: cover;
}
.item10 {
  background-image: url(./images/bg10.jpg);
  background-size: cover;
}
.item11 {
  background-image: url(./images/bg11.jpg);
  background-size: cover;
}
.item12 {
  background-image: url(./images/bg12.png);
  background-size: cover;
}
